@import "styles/breakpoints";

.title {
  text-decoration: none;
}

.description {
  margin: 0.3rem 0 0 0;
  font-size: 0.8rem;
  opacity: 0.9;
}

.primary-navigation {
  display: none;
  width: 100%;

  &.show {
    display: block;
  }

  @media (min-width: $breakpoint-small) {
    display: block;
    width: auto;
  }
}
